In [1]:
# Importing the basic required packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('C:\Pandasdata\DT_files\crimes.csv')

In [3]:
df.head()

,Area_Name,Year,Group_Name,Sub_Group_Name,K_A_Cases_Reported,K_A_Female_10_15_Years,K_A_Female_15_18_Years,K_A_Female_18_30_Years,K_A_Female_30_50_Years,K_A_Female_Above_50_Years,K_A_Female_Total,K_A_Female_Upto_10_Years,K_A_Grand_Total,K_A_Male_10_15_Years,K_A_Male_15_18_Years,K_A_Male_18_30_Years,K_A_Male_30_50_Years,K_A_Male_Above_50_Years,K_A_Male_Total,K_A_Male_Upto_10_Years
0,Andhra Pradesh,2001,Kidnap - For Adoption,01. For Adoption,8.0,0.0,0.0,4.0,0.0,0.0,5.0,1.0,8.0,0.0,0.0,0.0,0.0,0.0,3.0,3.0
1,Arunachal Pradesh,2001,Kidnap - For Adoption,01. For Adoption,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Assam,2001,Kidnap - For Adoption,01. For Adoption,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Bihar,2001,Kidnap - For Adoption,01. For Adoption,18.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0,0.0,0.0,15.0,3.0,0.0,18.0,0.0
4,Chandigarh,2001,Kidnap - For Adoption,01. For Adoption,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
df.shape

(3569, 20)

In [5]:
df['Area_Name'].value_counts()

West Bengal                  140
Himachal Pradesh             140
Odisha                       140
Karnataka                    140
Nagaland                     140
Maharashtra                  140
Meghalaya                    140
Gujarat                      140
Andhra Pradesh               140
Chhattisgarh                 140
Madhya Pradesh               135
Assam                        135
Bihar                        134
Tamil Nadu                   134
Arunachal Pradesh            130
Jammu & Kashmir              127
Haryana                      125
Jharkhand                    116
Mizoram                      108
Manipur                      107
Punjab                       107
Uttar Pradesh                106
Delhi                         89
Kerala                        84
Chandigarh                    84
Rajasthan                     79
Tripura                       72
Uttarakhand                   58
Puducherry                    57
Goa                           44
Daman & Diu                   41
Sikkim                        36
Dadra & Nagar Haveli          34
Andaman & Nicobar Islands     25
Lakshadweep                    2
Name: Area_Name, dtype: int64

In [6]:
df['Year'].value_counts()

2005    384
2008    363
2003    360
2006    360
2004    358
2010    353
2007    352
2009    349
2002    349
2001    341
Name: Year, dtype: int64

In [7]:
df['Group_Name'].value_counts()

Kidnap - Total                      338
Kidnap - For Other Purposes         326
Kidnap - For Marriage               323
Kidnap - For Ransom                 287
Kidnap - For Illicit Intercourse    274
Kidnap - For Revenge                260
Kidnap - For Unlawful Activity      249
Kidnap - For Adoption               235
Kidnap - For Prostitution           231
Kidnap - For Begging                225
Kidnap - For Sale                   216
Kidnap - For Slavery                210
Kidnap - For Camel Racing           198
Kidnap - For Selling Bodyparts      197
Name: Group_Name, dtype: int64

In [8]:
df['Sub_Group_Name'].value_counts()

14. Total (Sum of 1-13 Above)    338
13. Other Purposes               326
05. For Marriage                 323
07. For Ransom                   287
04. For Illicit Intercourse      274
08. For Revenge                  260
12. For Unlawful Activity        249
01. For Adoption                 235
06. For Prostitution             231
02. For Begging                  225
09. For Sale                     216
11. For Slavery                  210
03. for Camel Racing             198
10. For Selling Bodyparts        197
Name: Sub_Group_Name, dtype: int64

In [9]:
len(df.columns)

20

In [10]:
# let us group kidnap by area and find count

In [11]:
df_group = df.groupby(['Area_Name','Group_Name']).agg({'K_A_Grand_Total':'sum'})

In [12]:
# we can see the reason for kidnap with count in a particular state
df_group.loc[("Andhra Pradesh")]

                                  K_A_Grand_Total
Group_Name
Kidnap - For Adoption                        20.0
Kidnap - For Begging                         40.0
Kidnap - For Camel Racing                     3.0
Kidnap - For Illicit Intercourse           1191.0
Kidnap - For Marriage                      5891.0
Kidnap - For Other Purposes                7446.0
Kidnap - For Prostitution                   404.0
Kidnap - For Ransom                         190.0
Kidnap - For Revenge                        518.0
Kidnap - For Sale                            40.0
Kidnap - For Selling Bodyparts                0.0
Kidnap - For Slavery                        105.0
Kidnap - For Unlawful Activity             1439.0
Kidnap - Total                            17287.0

In [13]:
# In Maharashtra
df_group.loc[("Maharashtra")]

                                  K_A_Grand_Total
Group_Name
Kidnap - For Adoption                        43.0
Kidnap - For Begging                         34.0
Kidnap - For Camel Racing                     0.0
Kidnap - For Illicit Intercourse            454.0
Kidnap - For Marriage                      5947.0
Kidnap - For Other Purposes                4404.0
Kidnap - For Prostitution                  1041.0
Kidnap - For Ransom                         319.0
Kidnap - For Revenge                        185.0
Kidnap - For Sale                            18.0
Kidnap - For Selling Bodyparts                0.0
Kidnap - For Slavery                          9.0
Kidnap - For Unlawful Activity              281.0
Kidnap - Total                            12735.0

In [14]:
# Now we will find the major kidnap reason in each state using loops

In [15]:
state_list = df['Area_Name'].drop_duplicates().to_list()

In [16]:
state_list

['Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Delhi',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu & Kashmir',
 'Jharkhand',
 'Karnataka',
 'Maharashtra',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Uttar Pradesh',
 'West Bengal',
 'Daman & Diu',
 'Madhya Pradesh',
 'Tripura',
 'Puducherry',
 'Kerala',
 'Manipur',
 'Dadra & Nagar Haveli',
 'Goa',
 'Uttarakhand',
 'Andaman & Nicobar Islands',
 'Lakshadweep']

In [17]:
state_list=df["Area_Name"].drop_duplicates().to_list()

df_major_reason_kidnap=pd.DataFrame(columns=["AREA","Major_reason_of_kidnap","Count_of_kidnaps_due_to_major_reason","Total_kidnaps","Proportion_of_kidnaps_major_reason"])
area_list=list()
major_reason_list=list()
count_kidnaps_major=list()
total_kidnaps=list()
proportion_list=list()
for state in state_list:
    max_kid=0
    for index in df_group.loc[state].index:
        
        if (max_kid<df_group.loc[state].loc[index][0]) and (index!="Kidnap - Total"):
            max_kid=df_group.loc[state].loc[index][0]
            index_final=index
            
    print("AREA: {} \nMajority cases due to: {} and count is: {}".format(state,index_final,max_kid))
    print("Ratio of cases due to {} is :{}".format(index_final,max_kid/df_group.loc[state].loc["Kidnap - Total"][0]))
    print("\n")
    area_list.append(state)
    major_reason_list.append(index_final)
    count_kidnaps_major.append(max_kid)
    total_kidnaps.append(df_group.loc[state].loc["Kidnap - Total"][0])
    proportion_list.append(max_kid/df_group.loc[state].loc["Kidnap - Total"][0])

AREA: Andhra Pradesh
Majority cases due to: Kidnap - For Other Purposes and count is: 7446.0
Ratio of cases due to Kidnap - For Other Purposes is :0.43072829293688897


AREA: Arunachal Pradesh
Majority cases due to: Kidnap - For Marriage and count is: 349.0
Ratio of cases due to Kidnap - For Marriage is :0.5117302052785924


AREA: Assam
Majority cases due to: Kidnap - For Marriage and count is: 12564.0
Ratio of cases due to Kidnap - For Marriage is :0.6170014241516476


AREA: Bihar
Majority cases due to: Kidnap - For Other Purposes and count is: 11333.0
Ratio of cases due to Kidnap - For Other Purposes is :0.40216465578424415


AREA: Chandigarh
Majority cases due to: Kidnap - For Marriage and count is: 336.0
Ratio of cases due to Kidnap - For Marriage is :0.6588235294117647


AREA: Chhattisgarh
Majority cases due to: Kidnap - For Marriage and count is: 1288.0
Ratio of cases due to Kidnap - For Marriage is :0.5315724308708213


AREA: Delhi
Majority cases due to: Kidnap - For Other Purposes and count is: 14762.0
Ratio of cases due to Kidnap - For Other Purposes is :0.810341988252731


AREA: Gujarat
Majority cases due to: Kidnap - For Marriage and count is: 7244.0
Ratio of cases due to Kidnap - For Marriage is :0.6032142559746857


AREA: Haryana
Majority cases due to: Kidnap - For Marriage and count is: 3003.0
Ratio of cases due to Kidnap - For Marriage is :0.4673202614379085


AREA: Himachal Pradesh
Majority cases due to: Kidnap - For Marriage and count is: 1074.0
Ratio of cases due to Kidnap - For Marriage is :0.7473903966597077


AREA: Jammu & Kashmir
Majority cases due to: Kidnap - For Marriage and count is: 3486.0
Ratio of cases due to Kidnap - For Marriage is :0.4627638391079251


AREA: Jharkhand
Majority cases due to: Kidnap - For Marriage and count is: 2798.0
Ratio of cases due to Kidnap - For Marriage is :0.468990948709353


AREA: Karnataka
Majority cases due to: Kidnap - For Other Purposes and count is: 5453.0
Ratio of cases due to Kidnap - For Other Purposes is :0.7317498658078369


AREA: Maharashtra
Majority cases due to: Kidnap - For Marriage and count is: 5947.0
Ratio of cases due to Kidnap - For Marriage is :0.4669807616804083


AREA: Meghalaya
Majority cases due to: Kidnap - For Ransom and count is: 198.0
Ratio of cases due to Kidnap - For Ransom is :0.3548387096774194


AREA: Mizoram
Majority cases due to: Kidnap - For Other Purposes and count is: 46.0
Ratio of cases due to Kidnap - For Other Purposes is :0.5411764705882353


AREA: Nagaland
Majority cases due to: Kidnap - For Other Purposes and count is: 279.0
Ratio of cases due to Kidnap - For Other Purposes is :0.7045454545454546


AREA: Odisha
Majority cases due to: Kidnap - For Marriage and count is: 2971.0
Ratio of cases due to Kidnap - For Marriage is :0.4207619317377142


AREA: Punjab
Majority cases due to: Kidnap - For Marriage and count is: 3050.0
Ratio of cases due to Kidnap - For Marriage is :0.4898024731010117


AREA: Rajasthan
Majority cases due to: Kidnap - For Marriage and count is: 12715.0
Ratio of cases due to Kidnap - For Marriage is :0.5229712499485871


AREA: Sikkim
Majority cases due to: Kidnap - For Other Purposes and count is: 18.0
Ratio of cases due to Kidnap - For Other Purposes is :0.29508196721311475


AREA: Tamil Nadu
Majority cases due to: Kidnap - For Marriage and count is: 6693.0
Ratio of cases due to Kidnap - For Marriage is :0.5812923397602918


AREA: Uttar Pradesh
Majority cases due to: Kidnap - For Marriage and count is: 20414.0
Ratio of cases due to Kidnap - For Marriage is :0.4866037376048818


AREA: West Bengal
Majority cases due to: Kidnap - For Marriage and count is: 6735.0
Ratio of cases due to Kidnap - For Marriage is :0.40307618648632476


AREA: Daman & Diu
Majority cases due to: Kidnap - For Other Purposes and count is: 19.0
Ratio of cases due to Kidnap - For Other Purposes is :0.8636363636363636


AREA: Madhya Pradesh
Majority cases due to: Kidnap - For Marriage and count is: 4205.0
Ratio of cases due to Kidnap - For Marriage is :0.4388436652055938


AREA: Tripura
Majority cases due to: Kidnap - For Ransom and count is: 627.0
Ratio of cases due to Kidnap - For Ransom is :0.41168745896257386


AREA: Puducherry
Majority cases due to: Kidnap - For Marriage and count is: 79.0
Ratio of cases due to Kidnap - For Marriage is :0.5486111111111112


AREA: Kerala
Majority cases due to: Kidnap - For Other Purposes and count is: 1359.0
Ratio of cases due to Kidnap - For Other Purposes is :0.5731758751581612


AREA: Manipur
Majority cases due to: Kidnap - For Other Purposes and count is: 759.0
Ratio of cases due to Kidnap - For Other Purposes is :0.46909765142150806


AREA: Dadra & Nagar Haveli
Majority cases due to: Kidnap - For Marriage and count is: 65.0
Ratio of cases due to Kidnap - For Marriage is :0.5284552845528455


AREA: Goa
Majority cases due to: Kidnap - For Other Purposes and count is: 128.0
Ratio of cases due to Kidnap - For Other Purposes is :0.64


AREA: Uttarakhand
Majority cases due to: Kidnap - For Marriage and count is: 1276.0
Ratio of cases due to Kidnap - For Marriage is :0.5683741648106905


AREA: Andaman & Nicobar Islands
Majority cases due to: Kidnap - For Other Purposes and count is: 67.0
Ratio of cases due to Kidnap - For Other Purposes is :0.881578947368421


AREA: Lakshadweep
Majority cases due to: Kidnap - For Ransom and count is: 1.0
Ratio of cases due to Kidnap - For Ransom is :1.0

In [18]:
df_major_reason_kidnap["AREA"]=area_list
df_major_reason_kidnap["Major_reason_of_kidnap"]=major_reason_list
df_major_reason_kidnap["Count_of_kidnaps_due_to_major_reason"]=count_kidnaps_major
df_major_reason_kidnap["Total_kidnaps"]=total_kidnaps
df_major_reason_kidnap["Proportion_of_kidnaps_major_reason"]=proportion_list
df_major_reason_kidnap

,AREA,Major_reason_of_kidnap,Count_of_kidnaps_due_to_major_reason,Total_kidnaps,Proportion_of_kidnaps_major_reason
0,Andhra Pradesh,Kidnap - For Other Purposes,7446.0,17287.0,0.430728
1,Arunachal Pradesh,Kidnap - For Marriage,349.0,682.0,0.511730
2,Assam,Kidnap - For Marriage,12564.0,20363.0,0.617001
3,Bihar,Kidnap - For Other Purposes,11333.0,28180.0,0.402165
4,Chandigarh,Kidnap - For Marriage,336.0,510.0,0.658824
5,Chhattisgarh,Kidnap - For Marriage,1288.0,2423.0,0.531572
6,Delhi,Kidnap - For Other Purposes,14762.0,18217.0,0.810342
7,Gujarat,Kidnap - For Marriage,7244.0,12009.0,0.603214
8,Haryana,Kidnap - For Marriage,3003.0,6426.0,0.467320
9,Himachal Pradesh,Kidnap - For Marriage,1074.0,1437.0,0.747390
10,Jammu & Kashmir,Kidnap - For Marriage,3486.0,7533.0,0.462764
11,Jharkhand,Kidnap - For Marriage,2798.0,5966.0,0.468991
12,Karnataka,Kidnap - For Other Purposes,5453.0,7452.0,0.731750
13,Maharashtra,Kidnap - For Marriage,5947.0,12735.0,0.466981
14,Meghalaya,Kidnap - For Ransom,198.0,558.0,0.354839
15,Mizoram,Kidnap - For Other Purposes,46.0,85.0,0.541176
16,Nagaland,Kidnap - For Other Purposes,279.0,396.0,0.704545
17,Odisha,Kidnap - For Marriage,2971.0,7061.0,0.420762
18,Punjab,Kidnap - For Marriage,3050.0,6227.0,0.489802
19,Rajasthan,Kidnap - For Marriage,12715.0,24313.0,0.522971
20,Sikkim,Kidnap - For Other Purposes,18.0,61.0,0.295082
21,Tamil Nadu,Kidnap - For Marriage,6693.0,11514.0,0.581292
22,Uttar Pradesh,Kidnap - For Marriage,20414.0,41952.0,0.486604
23,West Bengal,Kidnap - For Marriage,6735.0,16709.0,0.403076
24,Daman & Diu,Kidnap - For Other Purposes,19.0,22.0,0.863636
25,Madhya Pradesh,Kidnap - For Marriage,4205.0,9582.0,0.438844
26,Tripura,Kidnap - For Ransom,627.0,1523.0,0.411687
27,Puducherry,Kidnap - For Marriage,79.0,144.0,0.548611
28,Kerala,Kidnap - For Other Purposes,1359.0,2371.0,0.573176
29,Manipur,Kidnap - For Other Purposes,759.0,1618.0,0.469098
30,Dadra & Nagar Haveli,Kidnap - For Marriage,65.0,123.0,0.528455
31,Goa,Kidnap - For Other Purposes,128.0,200.0,0.640000
32,Uttarakhand,Kidnap - For Marriage,1276.0,2245.0,0.568374
33,Andaman & Nicobar Islands,Kidnap - For Other Purposes,67.0,76.0,0.881579
34,Lakshadweep,Kidnap - For Ransom,1.0,1.0,1.000000

In [19]:
df_property =pd.read_csv("C:\Pandasdata\DT_files\Property_stolen_and_recovered.csv")

In [20]:
df_property.head(400)

,Area_Name,Year,Group_Name,Sub_Group_Name,Cases_Property_Recovered,Cases_Property_Stolen,Value_of_Property_Recovered,Value_of_Property_Stolen
0,Andaman & Nicobar Islands,2001,Burglary - Property,3. Burglary,27,64,755858,1321961
1,Andhra Pradesh,2001,Burglary - Property,3. Burglary,3321,7134,51483437,147019348
2,Arunachal Pradesh,2001,Burglary - Property,3. Burglary,66,248,825115,4931904
3,Assam,2001,Burglary - Property,3. Burglary,539,2423,3722850,21466955
4,Bihar,2001,Burglary - Property,3. Burglary,367,3231,2327135,17023937
...,...,...,...,...,...,...,...,...
395,Goa,2002,Criminal Breach of Trust - Property,5. Criminal Breach of Trust,1,16,100850,5408663
396,Gujarat,2002,Criminal Breach of Trust - Property,5. Criminal Breach of Trust,500,1188,28577528,1062403379
397,Haryana,2002,Criminal Breach of Trust - Property,5. Criminal Breach of Trust,393,524,15305302,27012212
398,Himachal Pradesh,2002,Criminal Breach of Trust - Property,5. Criminal Breach of Trust,11,67,1663215,10117525
399,Jammu & Kashmir,2002,Criminal Breach of Trust - Property,5. Criminal Breach of Trust,11,91,441846,1279159

In [21]:
#grouping to see Value_of_Property_Stolen in each sub group of all states
df_property_group = df_property.groupby(['Area_Name','Sub_Group_Name']).agg({"Value_of_Property_Stolen":"sum"})

In [22]:
df_property_group.head(20)

                                                                Value_of_Property_Stolen
Area_Name                 Sub_Group_Name
Andaman & Nicobar Islands 1. Dacoity                                              891150
                          2. Robbery                                             1547471
                          3. Burglary                                           24978307
                          4. Theft                                              32315461
                          5. Criminal Breach of Trust                          263641028
                          6. Other Property                                            0
                          7. Total Property Stolen & Recovered                 323373417
Andhra Pradesh            1. Dacoity                                           299819548
                          2. Robbery                                           348931200
                          3. Burglary                                         2700885654
                          4. Theft                                            5077814478
                          5. Criminal Breach of Trust                          817880977
                          6. Other Property                                    136084731
                          7. Total Property Stolen & Recovered                9381416588
Arunachal Pradesh         1. Dacoity                                            27377210
                          2. Robbery                                            22447247
                          3. Burglary                                          249415046
                          4. Theft                                             258552469
                          5. Criminal Breach of Trust                          342524698
                          6. Other Property                                     47626031

In [23]:
# Now we will make a table showing prperty lost due to theft in each state
#df_property_total =pd.DataFrame(['Area','property_theft','total_value'])
area_list =df_property['Area_Name'].unique()
property_theft =[]
total_value=[]

for area in area_list:
    property_theft.append(df_property_group.loc[area].loc["4. Theft"][0])
    total_value.append(df_property_group.loc[area].loc["7. Total Property Stolen & Recovered"][0])
    
#df_property_total["Area"]= area_list
#df_property_total["property_theft"]= property_theft
#df_property_total["total_value"]= total_value
df_property_total = pd.DataFrame({"Area": area_list,"property_theft":property_theft,"total_value": total_value}, index =area_list)

df_property_total

,Area,property_theft,total_value
Andaman & Nicobar Islands,Andaman & Nicobar Islands,32315461,323373417
Andhra Pradesh,Andhra Pradesh,5077814478,9381416588
Arunachal Pradesh,Arunachal Pradesh,258552469,947942701
Assam,Assam,1636816531,2907415787
Bihar,Bihar,1853200835,3774581067
Chandigarh,Chandigarh,637991982,837496992
Chhattisgarh,Chhattisgarh,1446422311,2885063421
Dadra & Nagar Haveli,Dadra & Nagar Haveli,104702583,1003527784
Daman & Diu,Daman & Diu,44043338,187627125
Delhi,Delhi,11564590758,30353492917
Goa,Goa,407967899,2040806682
Gujarat,Gujarat,6567837544,33215399705
Haryana,Haryana,3706176771,7641106109
Himachal Pradesh,Himachal Pradesh,584423357,1406506405
Jammu & Kashmir,Jammu & Kashmir,797604163,1497171970
Jharkhand,Jharkhand,1006718197,2328025107
Karnataka,Karnataka,5933776035,14575228877
Kerala,Kerala,2479474209,13831646014
Lakshadweep,Lakshadweep,1485711,4507403
Madhya Pradesh,Madhya Pradesh,4433564527,15529536066
Maharashtra,Maharashtra,23382266958,98702558557
Manipur,Manipur,162162620,715887549
Meghalaya,Meghalaya,463472970,739241603
Mizoram,Mizoram,266611935,430522571
Nagaland,Nagaland,497345760,1914644505
Odisha,Odisha,2239662203,6501912876
Puducherry,Puducherry,127308006,226802750
Punjab,Punjab,2763414714,7828963997
Rajasthan,Rajasthan,6098627987,8843230392
Sikkim,Sikkim,32626093,237832194
Tamil Nadu,Tamil Nadu,3064505619,7021000234
Tripura,Tripura,145506067,316404280
Uttar Pradesh,Uttar Pradesh,6145269801,11928238164
Uttarakhand,Uttarakhand,494824880,817824583
West Bengal,West Bengal,5962237779,10994658527

In [24]:
area_list =df_property['Area_Name'].drop_duplicates().to_list()

In [25]:
area_list

['Andaman & Nicobar Islands',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Dadra & Nagar Haveli',
 'Daman & Diu',
 'Delhi',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu & Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Lakshadweep',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal']